.wrapper{
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
}
.flex-header{
    display: flex;
    justify-content: space-between;
}
.flex{
    display: flex;
    justify-content: space-between;
}